@{
    ViewBag.Title = "Sistema Lorena";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Ventas</h1>
        <p class="lead">Sistemas de ventas de Electrodomesticos</p>
        <p><a href="" class="btn btn-primary btn-md">Pagina Oficial</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Registro Clientes</h2>
            <p>
               Mantenimiento de registro de datos personales del cliente 
            </p>
            <p><a class="btn btn-danger" href="../Cliente/Index">Clientes</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Registro Productos</h2>
            <p>Mantenimiento de registros de datos de los productos </p>
            <p><a class="btn btn-dark" href="../Producto/Index">Productos</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Pedidos</h2>
            <p>Carrito de Compra</p>
            <p><a class="btn btn-success" href="../Categoria/Index">Categoria</a></p>
        </section>
    </div>
</main>